%h1 Listing categories

%table
  %thead
    %tr
      %th Name
      %th
      %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'Edit', edit_admin_category_path(category)
      %td= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete, :class=>'red'

%br

= link_to 'New Category', new_admin_category_path
